---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import { Image } from "astro:assets"

export async function getStaticPaths() {
  const allCharacters = await getCollection("characters")

  return allCharacters.map((character) => ({
    params: { id: character.id },
    props: { character },
  }))
}

const { character } = Astro.props
---

<Layout title={character.data.name}>
  <p>
    <a
      href="/characters"
      class="font-lubrifont text-gray-600 relative left-0 hover:underline hover:left-1 transition-all duration-200"
      >&lt; Characters</a
    >
  </p>
  <h1 class="main-title">{character.data.name}</h1>
  <div class="character-details">
    <Image
      src={character.data.image}
      alt={character.data.name}
      width={200}
      height={200}
      class="character-image"
      transition:name={`img-${character.id}`}
    />
    <div class="character-data">
      <p><strong>Species:</strong> {character.data.species}</p>
      <p><strong>Status:</strong> {character.data.status}</p>
      <p><strong>Origin:</strong> {character.data.origin}</p>
      <p><strong>Location:</strong> {character.data.location}</p>
    </div>
  </div>
</Layout>

<style lang="postcss">
  @reference "../../styles/global.css";
  .character-details {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .character-image {
    @apply rounded-md border-8 border-white;
  }

  .character-data {
    @apply font-lubrifont text-gray-600 text-2xl;

    p {
      @apply hover:scale-110 transition-transform duration-200;
    }
    
    strong {
      @apply text-gray-800;
    }
  }

</style>
