---
import "../../styles/global.css"
import { Image } from "astro:assets"
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content"

const characters = await getCollection("characters")
---

<Layout
  title="Characters"
  description="List of characters of the Rick and Morty universe"
>
  <h1 class="main-title">Characters</h1>
  <ul class="character-list">
    {
      characters.map((character) => (
        <li class="character-item">
          <Image
            src={character.data.image}
            alt=""
            width={50}
            height={50}
            inferSize
            class="character-image m-0.5"
            transition:name={`img-${character.id}`}
          />
          <a
            href={`/characters/${character.id}`}
            title={`${character.data.name} biography`}
          >
            {character.data.name}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style lang="postcss">
  @reference "../../styles/global.css";
  
  .character-list {
    @apply list-none p-0 flex flex-wrap;
  }

  .character-item {
    @apply flex items-center mb-4 bg-white border-2 border-gray-200 mx-2 pr-4 rounded-sm relative bottom-0 hover:shadow-lg hover:bottom-1 hover:border-gray-400 transition-all duration-200;
  }

  .character-image {
    @apply rounded-sm mr-4;
  }
</style>
